<div class="row">
    <div class="col-xl-12 text-xl-center bottom-buffer">
        <h3>Login to your Account</h3>
    </div>

    <div class="col-xl-4 col-xl-offset-4">
        <div class="card">
            <div class="card-block">
                <form class="form">
                    <fieldset class="form-group">
                        <input [(ngModel)]="email" type="text" class="form-control" placeholder="Email" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" required>
                    </fieldset>
                    <fieldset class="form-group text-xl-right">
                        <button class="btn sogeti-btn" type="submit" (click)="onClickLogin()">
                            <i class="fa fa-sign-in" aria-hidden="true"></i><span class="fa-icon-label"> Login</span> 
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

      <div class="col-xl-4 col-xl-offset-4 text-md-center">
          <a [routerLink]="['/reset']">Reset Password</a>
          <span class="red-font"> | </span>
          <a [routerLink]="['/register']">Create Account</a>          
      </div>
</div>