<div class="row profile-footer">
  <div class="col-xl-4">
    Links column one
    <ul>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
    </ul>
  </div>
  <div class="col-xl-4">links column B
    <ul>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
    </ul>
  </div>
  <div class="col-xl-4">links column III
    <ul>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
      <li><a href="url">link text</a></li>
    </ul>
  </div>
</div>