<div class="row">
  <div class="col-xl-8 col-xl-offset-2">
    <div class="card">
      <h3 class="card-header">Login</h3>

      <div class="card-block text-xl-right">
        <form class="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">@us.sogeti.com</span>
          </div> <br />
          <input type="password" class="form-control" placeholder="Password"> <br />
          <button class="btn btn-primary-outline" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>  
</div>