<div class="row bottom-buffer">
  <nav class="navbar navbar-full navbar-default">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" href="#"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Sogeti Resume</a>
      <ul class="nav navbar-nav">
        <li class="pull-xs-right" *ngIf="!currentUser">
          <a class="btn btn-secondary-outline" [routerLink]="['Login']">Login</a>
        </li>
        <li class="pull-xs-right" *ngIf="currentUser" style="padding-top: 5px;">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ currentUser.fullname }} <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['Profile']">
              <i class="fa fa-user" aria-hidden="true"></i> Profile
            </a>
            <a class="dropdown-item" [routerLink]="['Profile']">
              <i class="fa fa-cog" aria-hidden="true"></i> Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onClickLogout()" href="#">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-xl-4 col-xl-offset-4">
    <form class="form-inline">
      <input class="form-control search" type="text" placeholder="Search" (keyup)="searchUsersByName($event)">
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li *ngFor="#result of searchResults | values">
            {{ result.first + " " + result.last }}
          </li>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </form>
  </div>
  
</div>
<router-outlet></router-outlet>
<footer></footer>