<div class="row bottom-buffer">
  <nav class="navbar navbar-full navbar-default bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">



      <a class="navbar-brand" href="#"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Sogeti Resume</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Profile']">Profile</a>
        </li><!-- 
        <li class="nav-item pull-xl-right">
          <a class="nav-link" [routerLink]="['Login']">Login </a>
        </li> -->
      </ul>

      <form class="form-inline pull-xl-right">
        <input class="form-control" type="text" placeholder="Search" (keyup)="searchUsersByName($event)">
      </form>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer></footer>