<div class="row bottom-buffer">
  <nav class="navbar navbar-full navbar-default">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <a class="navbar-brand" [routerLink]="['Login']" *ngIf="!_currentUser.auth.uid">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Sogeti Resume
      </a>
      <a class="navbar-brand" [routerLink]="['Profile', { username: _currentUser.info?.username }]" *ngIf="_currentUser.auth.uid">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Sogeti Resume
      </a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Search']"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
        </li>
        <li class="pull-xs-right dropdown" *ngIf="_currentUser.auth.uid">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ _currentUser?.info?.first + " " + _currentUser?.info?.last }} <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="top:85%;">
            <a class="dropdown-item" [routerLink]="['Profile', { username: _currentUser.info?.username }]">
              <i class="fa fa-user" aria-hidden="true"></i> Profile
            </a>
            <a class="dropdown-item" [routerLink]="['Settings']">
              <i class="fa fa-cog" aria-hidden="true"></i> Settings
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onClickLogout()" href="#">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>