<nav></nav>
<div class="row profile-header">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      
      <div class="center-block"><h1 class="display-4" style="text-align: center;">Sogeti Resume</h1></div>
      
      <!-- <user-detail [user]="users[0]"></user-detail> -->

    </div>
    <div class="col-xl-4"></div>

  
</div>

<div class="row">
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Bio</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Skill</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Button</a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Education</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Button</a>
      </div>
    </div>
  </div>
  
</div>

<footer></footer>