<div class="row"><navigation></navigation></div>
<div class="row profile-header">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <img class="card-img-bottom" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAHOAAAAJDM3NjFlMTUwLTg0YTEtNDFkZC1iYzdjLTVkYzdmZGUxZGVjOQ.jpg" />
      </div>

    </div>
    <div class="col-xl-4">
      
      <!-- <user-detail [user]="(users | values)[0]"></user-detail> -->

    </div>
    <div class="col-xl-4"></div>

  
</div>

<div class="row">
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-book" aria-hidden="true"></i> Bio</h4>
        <p class="card-text">James Garcia is a results-oriented software professional with experience in both front-end and back-end development. He develops with the user in mind, creating applications with a useable and intuitive user interface experience. He also understands the importance of creating highly readable and easily maintainable source code. 

        Constantly striving to learn new technologies and look to for ways to improve the final product in this rapidly changing industry, James is a recent computer science graduate from the University of Houston. He is currently a consultant with Sogeti with focus in web and mobile applications. 
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-tasks" aria-hidden="true"></i> Skill</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular 1</h4>
            <p class="list-group-item-text">Proficient</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular 2</h4>
            <p class="list-group-item-text">Previous Experience</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Swift</h4>
            <p class="list-group-item-text">Proficient</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">B.S. Computer Science</h4>
            <p class="list-group-item-text">University Of Houston</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Sitecore C# Developer Certification</h4>
            <p class="list-group-item-text">Sitecore</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular Certification</h4>
            <p class="list-group-item-text">Angular School</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<footer></footer>