<form>
<div class="row" >
  <div class="col-xl-2">
    <img class="img-fluid" src="{{_currentUser.auth.password.profileImageURL}}" />
    <a *ngIf="editable" target="_blank" href="https://en.gravatar.com/connect/">Change Gravatar</a>
  </div>
  <!-- Non Editable -->
  <div class="col-xl-8" *ngIf="!editable">
    <p>{{ user?.fullname }}</p>
    <p>{{ user?.unit }}</p>
    <p>{{ user?.title }}</p>
    <p>{{ user?.email }}</p>
  </div> 
  <!-- Editable -->
  <div class="col-xl-8" *ngIf="editable">

    <fieldset class="form-group row">
      <div class="col-xl-6">
        <input type="text" class="form-control" [(ngModel)]="user.first">
      </div>
      <div class="col-xl-6">
        <input type="text" class="form-control" [(ngModel)]="user.last">
      </div>
    </fieldset>
    <fieldset class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.unit">
    </fieldset>
    <fieldset class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.title">
    </fieldset>
    <p>{{ user?.email }}</p>
  </div> 
  <div class="col-xl-1">
    <button type="button" class="btn btn-link" (click)="clickEdit()" *ngIf="!editable"><i class="fa fa-pencil-square-o black-link" aria-hidden="true"> Edit</i></button>

    <button type="button" class="btn btn-link" (click)="clickSave()" *ngIf="editable"><i class="fa fa-floppy-o green-link" aria-hidden="true"> Save</i></button>
    <button type="button" class="btn btn-link" (click)="clickCancel()" *ngIf="editable"><i class="fa fa-times red-link" aria-hidden="true"> Cancel</i></button>
  </div>
</div>
<!-- Non editable -->
<div class="row" *ngIf="!editable">
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-book" aria-hidden="true"></i> Bio</h4>
        <p class="card-text">{{ _currentUser.bio?.text }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-tasks" aria-hidden="true"></i> Skills</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular 1</h4>
            <p class="list-group-item-text">Proficient</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular 2</h4>
            <p class="list-group-item-text">Previous Experience</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Swift</h4>
            <p class="list-group-item-text">Proficient</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">B.S. Computer Science</h4>
            <p class="list-group-item-text">University Of Houston</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Sitecore C# Developer Certification</h4>
            <p class="list-group-item-text">Sitecore</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular Certification</h4>
            <p class="list-group-item-text">Angular School</p>
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>

<!-- Editable -->
<div class="row" *ngIf="editable">
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-book" aria-hidden="true"></i> Bio</h4>
          <fieldset class="form-group">
            <textarea class="form-control" rows="3" [(ngModel)]="_currentUser.bio.text" ></textarea>
          </fieldset>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-tasks" aria-hidden="true"></i> Skills</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular 1</h4>
            <p class="list-group-item-text">Proficient</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular 2</h4>
            <p class="list-group-item-text">Previous Experience</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Swift</h4>
            <p class="list-group-item-text">Proficient</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 top-buffer">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">B.S. Computer Science</h4>
            <p class="list-group-item-text">University Of Houston</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Sitecore C# Developer Certification</h4>
            <p class="list-group-item-text">Sitecore</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Angular Certification</h4>
            <p class="list-group-item-text">Angular School</p>
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>
</form>