<div class="row top-buffer">
	<div class="col-xl-12">
		<form>
			<div class="row">
				<div class="col-xs-12 col-xl-12 bottom-buffer">
					<div class="input-group">
						<input [(ngModel)]="searchText" class="form-control search" type="text" placeholder="Search" (keyup)="searchUsers($event)">
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#filterRow" (click)="showFilterRow = !showFilterRow" style="    padding: 5px 10px;">
							 	<span class="fa-icon-label">Filter </span><i class="fa" [ngClass]="{'fa-caret-square-o-down': !showFilterRow, 'fa-caret-square-o-up': showFilterRow}" aria-hidden="true"></i>
							</button>
						</span>
					</div>				
				</div>				
			</div>
			<div id="filterRow" class="collapse">
				<div class="card">
					<div class="card-header" style="padding:5px;margin:0;">
						<div class="row">
							<div class="col-xs-12 col-xl-3 bottom-buffer">
								<select [(ngModel)]="selectedStatus" class="form-control">
									<option [value]="''">Any Status</option>
									<option *ngFor="let status of _firebaseData?.statuses">{{ status.name }}</option>
								</select>
							</div>
							<div class="col-xs-12 col-xl-3 bottom-buffer">
								<select [(ngModel)]="selectedTitle" class="form-control">
									<option [value]="''">Any Title</option>
									<option *ngFor="let title of _firebaseData?.titles">{{ title.name }}</option>
								</select>
							</div>
							<div class="col-xs-12 col-xl-3 bottom-buffer">
								<select [(ngModel)]="selectedPractice" class="form-control">
									<option [value]="''">Any Practice</option>
									<option *ngFor="let practice of _firebaseData?.practices">{{ practice.name }}</option>
								</select>
							</div>
							<div class="col-xs-12 col-xl-2 bottom-buffer">
								<select [(ngModel)]="selectedUnit" class="form-control">
									<option [value]="''">Any Unit</option>
									<option *ngFor="let unit of _firebaseData?.units">{{ unit.name }}</option>
								</select>
							</div>
							<div class="col-xs-12 col-xl-1 bottom-buffer text-xl-right">
								<button type="button" class="btn btn-danger-outline" (click)="resetFilters()">Reset</button>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</form>
	</div>
</div>

<div class="row top-buffer" *ngIf="searchResults.length > 0">
	<div class="col-xl-2" *ngFor="let result of searchResults 
									| filter:{'status':selectedStatus} 
									| filter:{'title':selectedTitle}  
									| filter:{'practice':selectedPractice}  
									| filter:{'unit':selectedUnit}">
		<a [routerLink]="['Profile', { username: result?.email?.split('@')[0].replace('.', '_') }]" class="card-link">
			<div class="card card-hover text-xs-center" [ngClass]="{'red-profile': result?.status?.text == 'PTO', 'green-profile': result?.status?.text == 'ATO', 'yellow-profile': result?.status?.text == 'Project'}">
				<div class="card-block">
					<h4 class="card-title red-font">
						<img class="img-fluid img-rounded center-block" src="{{ result?.profileImageURL.replace('http://', 'https://') }}" /> 
						{{ result?.first + " " + result?.last }}
					</h4>
					<p class="card-text">{{ result?.title }} <span class="red-font">|</span> {{ result?.unit }}</p>
				</div>
			</div>
		</a>
	</div>
</div>