<form style="margin-bottom:150px;" *ngIf="user">
	<div class="row">
		<!-- Image -->
		<div class="col-sm-2">
			<img class="img-fluid img-rounded" [ngClass]="{'red-profile': user?.status?.text == 'PTO', 'green-profile': user?.status?.text == 'ATO', 'yellow-profile': user?.status?.text == 'Project'}" src="{{user?.profileImageURL}}" />
			<a *ngIf="editable" target="_blank" href="https://en.gravatar.com/connect/">Change Gravatar</a>
		</div>

		<!-- User Info | Non Editable -->
		<div class="col-sm-10" *ngIf="!editable">
			<h2 class="red-font">
				{{ user?.first + " " + user?.last  }} <small class="text-muted">{{ user?.email }}</small>
			</h2>
			<h5 class="top-buffer">
				{{ user?.title }} 
				<span class="red-font"> | </span>
				{{ user?.practice }}
				<span class="red-font"> | </span>
				{{ user?.unit }}
			</h5>
			<p class="top-buffer" [ngClass]="{'red-font': user?.status?.text == 'PTO', 'green-font': user?.status?.text == 'ATO', 'yellow-font': user?.status?.text == 'Project'}">
				{{ user?.status?.text}} <span *ngIf="user?.status?.description!='' ">{{": " + user?.status?.description}}</span>
			</p>
		</div> 

		<!-- User Info | Editable -->
		<div class="col-sm-10" *ngIf="editable">
			<fieldset class="form-group row">
				<div class="col-xl-6">
					<input type="text" class="form-control" [(ngModel)]="user.first" placeholder="firstname">
				</div>
				<div class="col-xl-6">
					<input type="text" class="form-control" [(ngModel)]="user.last" placeholder="lastname">
				</div>
			</fieldset>
			<fieldset class="form-group">
				<select [(ngModel)]="user.unit" class="form-control">
					<option *ngFor="#unit of _firebaseData.units" [value]="unit">{{ unit }}</option>
				</select>
			</fieldset>
			<fieldset class="form-group">
				<select [(ngModel)]="user.practice" class="form-control">
					<option *ngFor="#practice of _firebaseData.practices" [value]="practice">{{ practice }}</option>
				</select>
			</fieldset>
			<fieldset class="form-group">
				<select [(ngModel)]="user.title" class="form-control">
					<option *ngFor="#title of _firebaseData.titles" [value]="title">{{ title }}</option>
				</select>
			</fieldset>
			<fieldset class="form-group row">
				<div class="col-xl-6">
					<select [(ngModel)]="user.status.text" class="form-control">
						<option *ngFor="#status of _firebaseData.statuses" [value]="status">{{ status }}</option>
					</select>
				</div>
				<div class="col-xl-6" *ngIf="user.status.text != 'ATO'">
					<input type="text" class="form-control" [(ngModel)]="user.status.description" placeholder="description (optional)">
				</div>
			</fieldset>
		</div>   
	</div>

	<!-- Tab Nav -->
	<ul class="nav nav-pills top-buffer bottom-buffer" role="tablist">
		<li class="nav-item">
			<a (click)="openSection = 'Bio'" class="nav-link red-font active" role="button" data-toggle="pill" data-target="#bio" aria-controls="bio">
				<i class="fa fa-book" aria-hidden="true"></i><span class="fa-icon-label"> Bio</span> 
			</a>
		</li>
		<li class="nav-item">
			<a (click)="openSection = 'Projects'" class="nav-link red-font" role="button" data-toggle="pill" data-target="#projects" aria-controls="projects">
				<i class="fa fa-folder-open" aria-hidden="true"></i><span class="fa-icon-label"> Projects</span> 
			</a>
		</li>
		<li class="nav-item">
			<a (click)="openSection = 'Skills'" class="nav-link red-font" role="button" data-toggle="pill" data-target="#skills" aria-controls="skills">
				<i class="fa fa-tasks" aria-hidden="true"></i><span class="fa-icon-label"> Skills</span> 
			</a>
		</li>
		<li class="nav-item">
			<a (click)="openSection = 'Education'" class="nav-link red-font" role="button" data-toggle="pill" data-target="#education" aria-controls="education">
				<i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="fa-icon-label"> Education</span> 
			</a>
		</li>
	</ul>

	<!-- Tab Content -->
	<div class="tab-content">
		<!-- User Bio -->
		<div class="tab-pane active" id="bio" role="tabpanel">
			<!-- Not Editable -->
			<div class="card" *ngIf="!editable">
				<div class="card-block">
					<p class="card-text">{{ user?.bio }}</p>
				</div>
			</div>
			<!-- Editable -->
			<fieldset class="form-group" *ngIf="editable">
				<textarea class="form-control" rows="10" [(ngModel)]="user.bio" ></textarea>
			</fieldset>
		</div>

		<!-- User Projects -->
		<div class="tab-pane" id="projects" role="tabpanel">
			<!-- Not Editable -->
			<div *ngIf="!editable && user?.projects?.length > 0">
				<div class="col-xl-4" *ngFor="#project of user?.projects.sort(dynamicSort('startdate'))">
					<div class="card">
						<div class="card-block">
							<h4 class="card-title red-font">
								{{ project.client }} <small class="text-muted">{{ project.project }}</small>
							</h4>
							<p class="card-text">{{ project.description }}</p>
							<p class="card-text">
								{{ formatDate(project.startdate)
									+ ' - ' + 
								   formatDate(project.enddate) }}
							</p>
							<p class="card-text"><small>{{ project.skills.join(', ') }}</small></p>								
						</div>
					</div>
				</div>
			</div>
			<!-- Editable -->
			<div *ngIf="editable">
				<div class="col-xl-4" *ngFor="#project of user?.projects; #k = index">
					<div class="card">
						<div class="card-header text-xs-right" style="padding:3px;">
							<button type="button" class="btn btn-sm btn-secondary" (click)="user.projects.splice(k, 1)">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</div>
						<div class="card-block" style="padding:5px;">
							<fieldset class="form-group">
								<input type="text" class="form-control" [(ngModel)]="project.client" placeholder="Client">
							</fieldset>
							<fieldset class="form-group">
								<input type="text" class="form-control" [(ngModel)]="project.project" placeholder="Project Name">
							</fieldset>
							<fieldset class="form-group">
								<textarea class="form-control" rows="3" [(ngModel)]="project.description" placeholder="Description"></textarea>
							</fieldset>
							<fieldset class="form-group row">
								<div class="col-xl-6">
									<label>Start Date</label>
									<input type="date" class="form-control" [(ngModel)]="project.startdate">
								</div>
								<div class="col-xl-6">
									<label>End Date</label>
									<input type="date" class="form-control" [(ngModel)]="project.enddate">
								</div>
							</fieldset>
							<fieldset class="form-group">
								<button *ngFor="#skill of user?.skills" type="button" class="btn btn-sm"
								[ngClass]="{ 
									'project-skills-btn-outline':  project.skills.indexOf(skill.name) == -1,
									'project-skills-btn':  project.skills.indexOf(skill.name) > -1  
								}" (click)="toggleSkillOnProject(project, skill.name)">
									{{ skill.name }}
								</button>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- User Skills -->
		<div class="tab-pane" id="skills" role="tabpanel">
			<!-- Sorting Buttons -->
			<div class="col-xl-12 bottom-buffer">
				<button type="button" class="btn btn-primary btn-sm" (click)="toggleSortSkillsByName()">
					Skill <i *ngIf="showSkillNameArrow" class="fa" [ngClass]="{ 'fa-arrow-down': sortSkillsNameAZ, 'fa-arrow-up': !sortSkillsNameAZ }" aria-hidden="true"></i>
				</button>
				<button type="button" class="btn btn-primary btn-sm" (click)="toggleSortSkillsByProficiency()">
					Proficiency <i *ngIf="showSkillProficiencyArrow" class="fa" [ngClass]="{ 'fa-arrow-down': sortSkillsProficiencyAZ, 'fa-arrow-up': !sortSkillsProficiencyAZ }" aria-hidden="true"></i>
				</button>
			</div>
			<!-- Not Editable -->
			<div *ngIf="!editable" >
				<div class="col-xl-2" *ngFor="#skill of user?.skills">
					<div style="color: White;" class="card text-xl-center" 
					[ngClass]="{
						'awareness-skill': skill?.proficiency == 0, 
						'novice-skill': skill?.proficiency == 1, 
						'intermediate-skill': skill?.proficiency == 2, 
						'advanced-skill': skill?.proficiency == 3, 
						'expert-skill': skill?.proficiency == 4
					}">
						<div class="card-block">
							<p class="card-text">{{ skill?.name }}</p>
							<p class="card-text">{{ _firebaseData.proficiency[skill?.proficiency] }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Editable -->
			<div *ngIf="editable">
				<div class="col-xl-2" *ngFor="#skill of user?.skills; #i = index">
					<div class="card text-xl-center" 
					[ngClass]="{
						'awareness-skill': skill?.proficiency == 0, 
						'novice-skill': skill?.proficiency == 1, 
						'intermediate-skill': skill?.proficiency == 2, 
						'advanced-skill': skill?.proficiency == 3, 
						'expert-skill': skill?.proficiency == 4
					}">
						<div class="card-header text-xs-right" style="padding:3px;">
							<button type="button" class="btn btn-sm btn-secondary" (click)="user.skills.splice(i, 1)">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</div>
						<div class="card-block" style="padding:5px;">
							<fieldset class="form-group">
								<input type="text" class="form-control" [(ngModel)]="skill.name" placeholder="Skill">
							</fieldset>
							<fieldset class="form-group">            
								<select [(ngModel)]="skill.proficiency" class="form-control">
									<option *ngFor="#proficiency of _firebaseData.proficiency; #i = index" [value]="i">{{ proficiency }}</option>
								</select>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- User Educationns -->
		<div class="tab-pane" id="education" role="tabpanel">
			<!-- Not Editable -->
			<div *ngIf="!editable && user?.educations?.length > 0">
				<div class="col-xl-3" *ngFor="#education of user?.educations">
					<div class="card">
						<div class="card-block">
							<h4 class="card-title red-font">{{ education.title }}</h4>
							<p class="card-text">{{ education.description }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Editable -->
			<div *ngIf="editable">
				<div class="col-xl-3" *ngFor="#education of user?.educations; #j = index">
					<div class="card">
						<div class="card-header text-xs-right" style="padding:3px;">
							<button type="button" class="btn btn-sm btn-secondary" (click)="user.educations.splice(j, 1)">
								<i class="fa fa-times" aria-hidden="true"></i>
							</button>
						</div>
						<div class="card-block" style="padding:5px;">
							<fieldset class="form-group">
								<input type="text" class="form-control" [(ngModel)]="education.title" placeholder="Title">
							</fieldset>
							<fieldset class="form-group">
								<textarea class="form-control" rows="3" [(ngModel)]="education.description" placeholder="Description"></textarea>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="row" *ngIf="_currentUser.auth.uid == user?.uid">
		<nav class="navbar navbar-fixed-bottom navbar-default">
			<ul class="nav navbar-nav">
				<!-- Add Project Button -->
				<li class="pull-xs-left" *ngIf="editable && openSection == 'Projects'">
					<button type="button" class="btn btn-secondary" (click)="user.projects.push( { client: '', project: '', description: '', skills: [] } )">
						<i class="fa fa-plus" aria-hidden="true"></i><span class="fa-icon-label"> Add Project</span> 
					</button>
				</li>

				<!-- Add Skill Button -->
				<li class="pull-xs-left" *ngIf="editable && openSection == 'Skills'">
					<button type="button" class="btn btn-secondary" (click)="user.skills.push( { name: '', proficiency: '' } )">
						<i class="fa fa-plus" aria-hidden="true"></i><span class="fa-icon-label"> Add Skill</span> 
					</button>
				</li>	

				<!-- Add Education Button -->
				<li class="pull-xs-left" *ngIf="editable && openSection == 'Education'">
					<button type="button" class="btn btn-secondary" (click)="user.educations.push( { title: '', description: '' } )">
						<i class="fa fa-plus" aria-hidden="true"></i><span class="fa-icon-label"> Add Education</span> 
					</button>
				</li>			 

				<!-- Edit/Save/Cancel Buttons -->
				<li class="pull-xs-right" *ngIf="!editable">
					<button type="button" class="btn btn-secondary" (click)="clickEdit()">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="fa-icon-label"> Edit</span> 
					</button>
				</li>
				<li class="pull-xs-right" *ngIf="editable">
					<div class="btn-toolbar" role="toolbar">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-secondary red-font" (click)="clickCancel()">
								<i class="fa fa-times" aria-hidden="true"></i><span class="fa-icon-label"> Cancel</span> 
							</button> 
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-secondary green-font" (click)="clickSave()">
								<i class="fa fa-floppy-o" aria-hidden="true"></i><span class="fa-icon-label"> Save</span> 
							</button>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</form>