div {
	font-family: 'Oswald', sans-serif;
} 

/* navbar */
.navbar-default {
    background-color: #b30000;
    border-color: #b30000;
}
/* title */
.navbar-default .navbar-brand {
    color: White;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d9d9d9;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: White;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #d9d9d9;
    background-color: #b30000;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #d9d9d9;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: White;
    border-bottom-color: White;
}

.top-buffer {
	margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.search {
	width: 100%;
}

.profile-footer {
	background-color: #b30000;
	color: White;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}