/* ------------------------------------Custom CSS------------------------------------ */

div {
    font-family: 'Oswald', sans-serif;
}

.sogeti-btn {
    color: #fff;
    background-color: #b30000;
    border-color: #b30000;
}
.sogeti-btn:hover {
    color: #e5e5e5;
}
.sogeti-btn-outline {
    color: #b30000;
    background-color: #fff;
    border-color: #b30000;
}
.sogeti-btn-outline:hover {
    background-color: #e5e5e5;
}

.sogeti-card {
    border: 1px solid #b30000;
}
.sogeti-card-header {
    color: White;
    background-color: #b30000;
    padding: 10px;
}
.sogeti-card-block {
    padding: 10px;
}
.sogeti-card-header-skill {
    padding: 3px; 
    border-bottom: none;
}
.sogeti-card-block-skill {
    padding: 3px; 
}
/* Toastr Overwrite */
.toast-top-right {
    top: 66px;
}

/*Skill colors*/
.awareness-skill, .awareness-skill > .card-header {
    background-color: #e5e5e5 !important;
}
.novice-skill, .novice-skill > .card-header {
    background-color: #00b8e6 !important;
}
.intermediate-skill, .intermediate-skill > .card-header {
    background-color: #cccc00 !important;
}
.advanced-skill, .advanced-skill > .card-header {
    background-color: #cc7a00 !important;
}
.expert-skill, .expert-skill > .card-header {
    background-color: #b30000 !important;
}

.red-profile {
    border: 5px solid #b30000;
}
.yellow-profile {
    border: 5px solid #cccc00;
}
.green-profile {
    border: 5px solid #008000;
}

.red-font {
    color: #b30000;
}
.black-font {
    color: Black;
}
.green-font {
    color: #008000;
}
.yellow-font {
    color: #cccc00;
}

.profile-section-header {
    margin-top: -24px;
}
.profile-section-header-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
.profile-section-header-card-block {
    font-size: 1.75rem;
    color: #b30000;
    padding: 5px 10px;
}
.profile-footer {
    background-color: #b30000;
    color: White;
}

.top-buffer {
	margin-top: 20px;
}
.bottom-buffer {
    margin-bottom: 20px;
}

.search {
	width: 100%;
}


.logo-spinner {
    width: 100px;
    height: 100px;
    color:#b30000;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo-spinner-text {
    width: 100px;
    height: 100px;

    position: absolute;
    top:200px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    color:#b30000;
}

/* ------------------------------Admin Page------------------------------ */
.remove-padding-left {
    padding-left: 0 !important;
}
.remove-padding-right {
    padding-right: 0 !important;
}
.scrolling-table-small { 
  height: 220px;
  overflow-y: scroll;
}
.scrolling-table-large {
  height: 320px;
  overflow-y: scroll;
}
.card th {
    border-top: transparent;
}
.admin-table tr:first-child > td {
    padding-top: .75rem;
}
.admin-table td {
    border-top: transparent;
    padding-top: 0;
}
.admin-icon-td {
    width: 15px;
    vertical-align: middle !important;
}
.admin-table-cell-center {
    text-align: center;
}
.admin-card-block-hover:hover {
    background-color: #e5e5e5;
}

/* ------------------------------Search Page Cards----------------------------- */
.card-link, .card-link:hover {
    color: Black;
    text-decoration: none;
}

.card-hover:hover {
    background-color: #e5e5e5;
}

/* ----------------------------Font Awesome Overwrite--------------------------- */
i.fa {
    line-height: inherit;
}
span.fa-icon-label {
    vertical-align: middle;
}

/* ------------------------------------Media------------------------------------ */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > div.dropdown-menu {
    display: block;
  }
}

@media only screen and (max-width: 1199px) {
    .scrolling-table-small,
    .scrolling-table-large { 
        height: auto !important;
    }
    .scrolling-table-large {
        max-height: 320px;
    }
}

/* ------------------------------Boostrap Overwrite----------------------------- */
.navbar-default .navbar-nav > li > a.btn-secondary-outline:hover,
.navbar-default .navbar-nav > li > a.btn-secondary-outline:focus {
    color: #b30000;
}
/* navbar */
.navbar-default {
    background-color: #b30000;
    border-color: #b30000;
}
/* title */
.navbar-default .navbar-brand,
.navbar-default .navbar-toggler {
    color: White;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-toggler:hover,
.navbar-default .navbar-toggler:hover  {
    color: #d9d9d9;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: White;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #d9d9d9;
    background-color: #b30000;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #d9d9d9;
    background-color: #D5D5D5;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent !important;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: White;
    border-bottom-color: White;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: #e5e5e5; 
}

.nav-pills .open.nav-item .nav-link, 
.nav-pills .open.nav-item .nav-link:focus, 
.nav-pills .open.nav-item .nav-link:hover, 
.nav-pills .active.nav-link, 
.nav-pills .active.nav-link:focus, 
.nav-pills .active.nav-link:hover {
    background-color: #b30000;
    border-color: #b30000; 
    color: White;
}

a:focus, a:hover {
    color: #b30000;
    text-decoration: none;
}

a {
    color: #ccc; 
}
